/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

  /* Search Layer */
  .search-layer {
    display: none;
  }

    /* Toggle */
    .header.search-open .search-layer {
      display: flex;
      align-items: center;
      gap: 1rem;

      position: absolute;
      inset: 0;
      padding: 1rem 2rem;
      background: #FFF;
    }

    .header.search-open .nav,
    .header.search-open .logo {
      visibility: hidden;
    }

    .search-input {
      flex: 1;
    }